[user]
	name = Peter Vetere
	email = pvetere@singlestore.com
[alias]
	wdiff = diff
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

